@*
    _TestimonialsComponent
*@
<section id="testimonials" class="testimonials section">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
                <h3>Hasta Görüşleri</h3>
                <p>
                    Medilab hakkında hastalarımızın deneyimlerini okuyun. Güven ve memnuniyet bizim önceliğimizdir.
                </p>
            </div>

            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="d-flex">
                                    <img src="~/MediLab-1.0.0/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="Hasta 1">
                                    <div>
                                        <h3>Ahmet Yılmaz</h3>
                                        <h4>CEO & Kurucu</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Medilab’da aldığım hizmet mükemmeldi. Profesyonel ekip ve güler yüzlü personel sayesinde kendimi çok güvende hissettim.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- Hasta yorumu -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="d-flex">
                                    <img src="~/MediLab-1.0.0/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="Hasta 2">
                                    <div>
                                        <h3>Elif Demir</h3>
                                        <h4>Tasarımcı</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Uzman doktorlar ve modern tesisler sayesinde Medilab’da tedavi sürecim çok rahat geçti. Herkese tavsiye ederim.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- Hasta yorumu -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="d-flex">
                                    <img src="~/MediLab-1.0.0/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="Hasta 3">
                                    <div>
                                        <h3>Mehmet Kaya</h3>
                                        <h4>Mağaza Sahibi</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Medilab sağlık hizmetlerinde kaliteyi gerçekten hissediyorsunuz. Tüm çalışanlara teşekkür ederim.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- Hasta yorumu -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="d-flex">
                                    <img src="~/MediLab-1.0.0/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="Hasta 4">
                                    <div>
                                        <h3>Ayşe Öztürk</h3>
                                        <h4>Serbest Çalışan</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Medilab’ın sunduğu tedavi ve destek hizmetleri beklentilerimin çok üzerindeydi. Herkese teşekkür ederim.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- Hasta yorumu -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="d-flex">
                                    <img src="~/MediLab-1.0.0/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="Hasta 5">
                                    <div>
                                        <h3>Mustafa Çelik</h3>
                                        <h4>Girişimci</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Medilab’ın profesyonel yaklaşımı sayesinde sağlığıma hızlıca kavuşabildim. Kesinlikle tavsiye ederim.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- Hasta yorumu -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </div>

    </div>

</section>
