@*
    _ContactComponent
*@

<section id="contact" class="contact section">

    <!-- Bölüm Başlığı -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Sorularınızı ve görüşlerinizi bize iletebilirsiniz</p>
    </div><!-- Bölüm Başlığı Sonu -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adres</h3>
                        <p>Atatürk Cad. No:108, İstanbul, Türkiye</p>
                    </div>
                </div><!-- Bilgi Öğesi Sonu -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Telefon</h3>
                        <p>+90 212 555 55 55</p>
                    </div>
                </div><!-- Bilgi Öğesi Sonu -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>E-posta</h3>
                        <p>info@medilab.com</p>
                    </div>
                </div><!-- Bilgi Öğesi Sonu -->

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Adınız Soyadınız" required>
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="E-posta Adresiniz" required>
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Konu" required>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Mesajınız" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Yükleniyor</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Mesajınız gönderildi. Teşekkür ederiz!</div>

                            <button type="submit">Mesaj Gönder</button>
                        </div>

                    </div>
                </form>
            </div><!-- İletişim Formu Sonu -->

        </div>

    </div>

</section>
