@*
    _DoctorsComponent
*@

<section id="doctors" class="doctors section">

    <!-- Bölüm Başlığı -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Doktorlarımız</h2>
        <p>Medilab'ın deneyimli ve uzman doktor kadrosu ile sağlığınız emin ellerde.</p>
    </div><!-- Bölüm Başlığı Sonu -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/MediLab-1.0.0/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="Dr. Ahmet Yılmaz"></div>
                    <div class="member-info">
                        <h4>Dr. Ahmet Yılmaz</h4>
                        <span>Başhekim</span>
                        <p>Yılların deneyimiyle hastalarımıza en kaliteli sağlık hizmetini sunuyor.</p>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Doktor -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/MediLab-1.0.0/assets/img/doctors/doctors-2.jpg" class="img-fluid" alt="Dr. Selin Demir"></div>
                    <div class="member-info">
                        <h4>Dr. Selin Demir</h4>
                        <span>Anestezi Uzmanı</span>
                        <p>Ameliyatlarda güvenliğiniz için titizlikle çalışan anestezi uzmanımızdır.</p>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Doktor -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/MediLab-1.0.0/assets/img/doctors/doctors-3.jpg" class="img-fluid" alt="Dr. Mehmet Kaya"></div>
                    <div class="member-info">
                        <h4>Dr. Mehmet Kaya</h4>
                        <span>Kardiyoloji Uzmanı</span>
                        <p>Kalp sağlığı alanında hastalarımıza modern tedavi yöntemleri sunmaktadır.</p>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Doktor -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/MediLab-1.0.0/assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="Dr. Ayşe Yıldız"></div>
                    <div class="member-info">
                        <h4>Dr. Ayşe Yıldız</h4>
                        <span>Nöroşirürji Uzmanı</span>
                        <p>Sinir cerrahisi alanında uzman, hastalarına titizlikle yaklaşan doktorumuz.</p>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Doktor -->

        </div>

    </div>

</section>
