@*
    _GalleryComponent
*@

<section id="gallery" class="gallery section">

    <!-- Bölüm Başlığı -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Galeri</h2>
        <p>Görsellerimizle hizmetlerimizi ve ortamımızı keşfedin</p>
    </div><!-- Bölüm Başlığı Sonu -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-1.jpg" alt="Galeri Resmi 1" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-2.jpg" alt="Galeri Resmi 2" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-3.jpg" alt="Galeri Resmi 3" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-4.jpg" alt="Galeri Resmi 4" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-5.jpg" alt="Galeri Resmi 5" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-6.jpg" alt="Galeri Resmi 6" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-7.jpg" alt="Galeri Resmi 7" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/MediLab-1.0.0/assets/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                        <img src="~/MediLab-1.0.0/assets/img/gallery/gallery-8.jpg" alt="Galeri Resmi 8" class="img-fluid">
                    </a>
                </div>
            </div><!-- Galeri Elemanı Sonu -->

        </div>

    </div>

</section>
